<div class="container-fluid h-100">
	<div class="row h-100 justify-content-center align-items-center ">
		<div class="col-auto">
			<p>  <h1><%=t('session.new.title')%></h1></p>
		</div>
	</div>
  <div class="row h-100 justify-content-center align-items-center">
			<div class="form-row align-items-center">
					<%= form_for(:session, url: login_path) do |f| %>
						<div class="col-auto">
							<%=   f.label t('session.new.email') %>
							<p><%= f.email_field :email, :placeholder => t('session.new.email'), :class => "form-control mb-2" %></p>
						</div>
						<div class="col-auto">
							<%=   f.label t('session.new.password')%>
							<p><%= f.password_field :password, :placeholder => t('session.new.password'), :class => "form-control mb-2" %></p>
						</div>
						<div class="col-auto">
							<%= f.submit t('session.new.login'), class: "btn-submit", :class => "form-control mb-2", :class => "btn btn-large btn-primary" %>
						</div>
					<% end %>
			</div>
	</div>	
</div>
