<%= form_with(model: transfer_category, local: true) do |form| %>
  <% if transfer_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer_category.errors.count, "error") %> prohibited this transfer_category from being saved:</h2>

      <ul>
      <% transfer_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type_lookup_code %>
    <%= form.text_field :type_lookup_code %>
  </div>

  <div class="field">
    <%= form.label :category_name %>
    <%= form.text_field :category_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
