<% if current_user && current_user.admin? %>
  <div class = "container-fluid">
    <div class="row">
      <div class="col-md-6">

        <h1><%=t('transfer_categories.index.Transfer Categories')%></h1>
        <table class="table table-hover" >
          <thead>
            <tr>
              <th><%=t('transfer_categories.index.Type lookup code')%></th>
              <th><%=t('transfer_categories.index.Category name')%></th>
            </tr>
          </thead>

          <tbody>
            <% @transfer_categories.each do |transfer_category| %>
              <tr>
                <td><%= transfer_category.type_lookup_code %></td>
                <td><%= transfer_category.category_name %></td>
                <td><%= link_to t('transfer_categories.index.Show'), transfer_category, class: "btn btn-primary" %></td>
                <td><%= link_to t('transfer_categories.index.Edit'), edit_transfer_category_path(transfer_category), class: "btn btn-warning" %></td>
                <td><%= link_to t('transfer_categories.index.Destroy'), transfer_category, method: :delete, data: { confirm: t('transfer_categories.index.Are you sure') }, class: "btn btn-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to link_to t('transfer_categories.index.Add new Transfer Category'), new_transfer_category_path, class: "btn btn-success" %>
        <%= link_to link_to t('transfer_categories.index.Back to Admin page'), admin_page_path, class: "btn btn-danger" %>
      </div>
  </div>
<% end %>
