  <% if current_user && current_user.admin? %>
    <div class = "container-fluid">
      <div class="row">
        <div class="col-md-6">
           <h3><%= t('transfer_types.index.headertypes')%></h3>
           <table class="table table-hover" >
             <thead>
               <tr>
                 <th><%= t('transfer_types.index.Pay type')%></th>
                 <th><%= t('transfer_types.index.Lookup code')%></th>
               </tr>
             </thead>
                <tbody>
                      <p><% @transfer_types.each do |transfer_type|   %></p>
                        <% unless transfer_type.new_record? %>
                          <tr>
                              <td><%= transfer_type.pay_type %></td>
                              <td><%= transfer_type.lookup_code %></td>
                              <td><%= link_to t('transfer_types.index.Show'), transfer_type, class: "btn btn-primary" %></td>
                              <td><%= link_to t('transfer_types.index.Edit'), edit_transfer_type_path(transfer_type), class: "btn btn-warning" %></td>
                              <td><%= link_to t('transfer_types.index.Destroy'), transfer_type_path(transfer_type), method: :delete, data: { confirm: t('transfer_types.index.Are you sure') }, class: "btn btn-danger" %></td>
                          </tr>
                      <%end%>
                    <%end%>
              </tbody>
            </table>
        </div>
    </div>

  </div>
<%= link_to t('transfer_types.index.Add new Transfer type'), new_transfer_type_path, class: "btn btn-success" %>
<%= link_to t('transfer_types.index.Back to Admin page'), admin_page_path, class: "btn btn-danger"  %>
<% end %>
