<div class="container-fluid">


<ul>
  <div class="row">
    <div class="col-md-6">
      <b><%=t('transfer_categories.admin_page.Logic example') %></b>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-md-6">
      <b><%=t('transfer_categories.admin_page.Categories example') %></b>
    </div>
  </div>
<li><%= link_to t('transfer_categories.admin_page.Transfer Categories'), transfer_categories_path, class: "btn btn-link" %> </li>
  <div class="row">
    <div class="col-md-6">
      <b><%=t('transfer_categories.admin_page.Types example') %></b>
    </div>
  </div>
<li><%= link_to t('transfer_categories.admin_page.Transfer types'), transfer_types_path, class: "btn btn-link" %></li>
</ul>

</div>
