<div class="login">
  <div class="container-fluid h-100">


      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-auto">
          <h1>Sign up</h1>
        </div>
      </div>
          <div class="row h-100 justify-content-center align-items-center">
      	<%= form_for(@user) do |f| %>
        <div class="col-auto">
           <p><%= f.text_field :first_name, :placeholder => "First name", :class => "form-control mb-2"   %></p>
        </div>
        <div class="col-auto">
           <p><%= f.text_field :last_name, :placeholder => "Last name", :class => "form-control mb-2"   %></p>
        </div>
        <div class="col-auto">
           <p><%= f.email_field :email, :placeholder => "Email", :class => "form-control mb-2"   %></p>
        </div>
        <div class="col-auto">
           <p><%= f.password_field :password, :placeholder => "Password", :class => "form-control mb-2"   %></p>
        </div>
        <div class="col-auto">
           <p><%= f.submit "Create an account", class: "btn-submit", :class => "form-control mb-2"   %></p>
        </div>
      	<% end %>
      </div>
  </div>
</div>
  </div>
